[Desktop Entry]
Name=projectM PulseAudio Visualization
GenericName=PulseAudio Stream Visualization
Comment=Visualization of PulseAudio streams with projectM
Exec=projectM-pulseaudio
Icon=prjm16-transparent
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
