xcuserdata
src/projectM-emscripten/build/presets
presets/custom
project.xcworkspace
*.o
*.lo
*.la
*.a
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
/src/libprojectM/config.h
