/build
xcuserdata
src/libprojectM/config.inp
src/projectM-emscripten/build/presets
src/libprojectM/libprojectM.xcodeproj
presets/custom
project.xcworkspace
*.o
*.lo
*.la
*.a
projectM-*.tar.gz
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
.dirstamp
/src/libprojectM/config.h
ar-lib
compile
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
