<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>projectM</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>projectM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>projectM</string>
	<key>CFBundleGetInfoString</key>
	<string>0.94.20 Copyright (c)projectM Team</string>
	<key>CFBundleIdentifier</key>
	<string>org.projectM.projectM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>projectM</string>
	<key>CFBundlePackageType</key>
	<string>hvpl</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>hook</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CSResourcesFileMapped</key>
	<key>CFBundleIconFile</key>
	<string>projectM.icns</string>
	<true/>
</dict>
</plist>
